<%- include("./partials/head.ejs", {pageTitle: "Home Page"}) %>
<main class="container my-4">
  <header
    class="row col-xs col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
  >
    <h1>Home Page</h1>
  </header>

  <section class="row col-xs col-sm-10 offset-sm-1 my-4">
    <h2>
      Welcome to the Covid Monitoring application <%= user.name %>.
    </h2>

    <div>
      You can view and update your profile information from the
      <a href="/profile/<%= user.id %>">profile page</a>.
    </div>
    <div>
      You can view and enter your symptoms from the
      <a href="/sypmtoms/<%= user.id %>">sypmtoms page</a>.
    </div>
    <div class="my-2">
      <a href="/profile/<%= user.id %>" class="btn btn-primary me-2">Profile</a>
      <a href="/symptoms/<%= user.id %>" class="btn btn-primary">Symptoms</a>
    </div>
  </section>
</main>

<%- include("./partials/footer.ejs") %>
